---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		I am Marco Domenico Buttiglione, a PhD Student in Computer Engineering with a focus on Computer Graphics and Virtual Reality. My academic research explores the intersection of immersive technologies and interactive systems.
	</p>

	<p>
		In addition to my academic pursuits, I am an active Game Developer and Designer. I am a member of <strong>Rewind Studios</strong>, an indie game development team. We are currently working on <em>Paradox!</em>, a game that challenges players with unique mechanics and storytelling. You can check out our demo on Steam.
	</p>

	<p>
		I strive to bridge the gap between academic research and practical game development, applying rigorous engineering principles to creative design. I am always looking for new challenges and am open to external projects and collaborations that allow me to leverage my skills in graphics, VR, and game development.
	</p>
</Layout>
